.shopCategory-banner{
    display: block;
    margin: 30px auto;
    width: 82%;
}
.shopCategory-indexSort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;

}
.shopCategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}
.shopCategory-sort-icon{
      font-size: 28px;
}
.shopCategory-indexSort  p {
    font-weight: 600;
}
.shopcategory-products{
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}
.shopCategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
}
.shopCategory-loadmore:hover{
color: #525252;
}
@media only screen and (max-width: 768px) {
   .shopCategory-banner{
    margin: 10px auto;
    width: 95%;
}
.shopCategory-indexSort{
    margin: 0px 10px;
}
.shopCategory-sort{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 8px 8px;
    border-radius: 30px;
    width: 100px;
   height: 30px;
   align-items: center;

}
.shopCategory-sort-icon{
      font-size: 20px;
}
.shopCategory-indexSort  p {
    font-weight: 600;
    font-size: 15px;
}
.shopcategory-products{
    margin: 10px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5px;
}
.shopCategory-loadmore{
    margin: 150px auto;
    width: 200px;
    height: 50px;
    border-radius: 40px;

}
}