.item {
  padding: 5px;
  width: max-content;
 
}
.card-body{
  height: 6.5rem;
}
.item-prices {
  display: flex;
  gap: 20px;
}
.item-price {
  color: #374151;
  font-size: 13px;
  font-weight: 600;
}
.item-mrp {
  color: #8c8c8c;
  font-size: 13px;
  font-weight: 500;
  text-decoration: line-through;
}
.item:hover {
  transform: scale(1.05);
  transition: 0.6s;
}
.item img {
  height: 155px;
  width: auto;
  justify-self: center;
  padding: 3px;
}
.smallCard {
  width: 10rem;
  height: 18rem;
}
.largeCard {
  width: 15rem;
  height: 18rem;
}
@media only screen and (max-width: 768px) {
  .smallCard {
    width: 10rem;
  }
  .largeCard {
    width: 13rem;
  }
  .smallImg {
    width: 11rem;
  }
  .largeImg {
    width: 13rem;
  }
  .item img {
    height: 150px;
    width: auto;
  }
}
