.popular {
  margin-left: 10px;
  color: black;
  padding: 0px;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popular h1 {
  align-self: center;
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}
.popular hr {
  align-self: center;
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
}
.popular-item {
  margin-top: 50px;
  gap: 30px;
  display: flex;
  padding: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
}
.popular-item::-webkit-scrollbar {
  display: none;
}

.arrowIcons {
  width: 97%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  z-index: 99;
  position: absolute;
}

.arrowLeft {
  display: block;
  color: black;
  font-size: 50px;
  background-color: blue;
  align-self: self-start;
  transform: rotate(180deg);
  background: rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
  cursor: pointer;
}
.arrowRight {
  display: grid;
  color: black;
  font-size: 50px;
  background-color: rgb(173, 29, 50);
  align-self: self-end;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
  cursor: pointer;
}

.arrowLeftIcon {
  height: 100px;
}
.arrowRightIcon {
  height: 100px;
}
@media only screen and (max-width: 768px){
  .popular{
   width: 100%;
  margin-left: 2px;
  color: black;
  padding: 0px;
  gap: 0px;
  }
  .popular h1 {
  font-size: 25px;
}
.popular hr {
  width: 250px;
  height: 3px;
}
.popular-item {
  margin-top: 5px;
  gap: 10px;
  padding: 5px;
}
.popular-item::-webkit-scrollbar {
  display: none;
}

.arrowIcons {
  display: none;
}

}